<a href="https://colab.research.google.com/github/yeesem/Soft-Computing/blob/main/Soft_Computing_Assignment_1_Fuzzy_Logic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
!pip3 install -U ucimlrepo
!pip install scikit-fuzzy

Requirement already satisfied: ucimlrepo in /usr/local/lib/python3.10/dist-packages (0.0.3)
Requirement already satisfied: scikit-fuzzy in /usr/local/lib/python3.10/dist-packages (0.4.2)
Requirement already satisfied: numpy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-fuzzy) (1.25.2)
Requirement already satisfied: scipy>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from scikit-fuzzy) (1.11.4)
Requirement already satisfied: networkx>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from scikit-fuzzy) (3.2.1)

In [15]:
import pandas as pd
import numpy as np
import skfuzzy as fuzz
from skfuzzy import control as ctrl

In [16]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
communities_and_crime = fetch_ucirepo(id=183)

# data (as pandas dataframes)
X = communities_and_crime.data.features
y = communities_and_crime.data.targets

In [17]:
print("Number of columns : ",len(X.columns))
print("Number of rows    : ",len(X))

Number of columns :  127
Number of rows    :  1994

In [18]:
for index,col in enumerate(X.columns):
  print("Column : ",index)
  print(col , " : ", X[col].info())
  print("Missing value : ",np.sum(X[col] == '?'))
  print(X[col].unique())
  print("\n\n")

Column :  0
<class 'pandas.core.series.Series'>
RangeIndex: 1994 entries, 0 to 1993
Series name: state
Non-Null Count  Dtype
--------------  -----
1994 non-null   int64
dtypes: int64(1)
memory usage: 15.7 KB
state  :  None
Missing value :  0
[ 8 53 24 34 42  6 44 21 29 36 25 55 19 18 12 41 39 54  9  1 51 40 35 33
 48  4 37 49 46 28 22 45 16 47  5 50 13 23 38 27 20 56  2 11 32 10]



Column :  1
<class 'pandas.core.series.Series'>
RangeIndex: 1994 entries, 0 to 1993
Series name: county
Non-Null Count  Dtype
--------------  -----
1994 non-null   object
dtypes: object(1)
memory usage: 15.7+ KB
county  :  None
Missing value :  1174
['?' '5' '95' '7' '21' '87' '187' '1' '27' '129' '31' '193' '29' '680'
 '23' '3' '19' '35' '790' '53' '9' '119' '99' '17' '11' '135' '133' '45'
 '39' '61' '43' '157' '15' '13' '37' '107' '89' '41' '93' '71' '590' '55'
 '101' '75' '57' '63' '760' '69' '25' '830' '77' '155' '151' '123' '113'
 '49' '139' '169' '630' '79' '510' '65' '81' '105' '141' '33' '59' '131'
 '173' '109' '153' '103' '820' '750' '770' '740' '163' '97' '85' '121'
 '91' '73' '215' '181' '125' '690' '650' '127' '143' '660' '735' '147'
 '670' '683' '111' '67' '550' '117' '570' '800' '810' '700' '165' '167'
 '710' '145' '730' '840' '775']



Column :  2
<class 'pandas.core.series.Series'>
RangeIndex: 1994 entries, 0 to 1993
Series name: community
Non-Null Count  Dtype
--------------  -----
1994 non-null   object
dtypes: object(1)
memory usage: 15.7+ KB
community  :  None
Missing value :  1177
['?' '81440' '6096' '41500' '44105' '30075' '91370' '1000' '17650' '66376'
 '93926' '61798' '22490' '47672' '59280' '40560' '22960' '55950' '81740'
 '12900' '57660' '45120' '43620' '30570' '75216' '42750' '58200' '54837'
 '34950' '46520' '82525' '84000' '63968' '66700' '22240' '37875' '87560'
 '45140' '76490' '73060' '83080' '83432' '20100' '80240' '47616' '66060'
 '21504' '39300' '58730' '45056' '22456' '4825' '13690' '51660' '79740'
 '66660' '75740' '37000' '62432' '20080' '56550' '7310' '7665' '16495'
 '70020' '54040' '74880' '37490' '82000' '32296' '36000' '70380' '5320'
 '44700' '53104' '56966' '18070' '38715' '48955' '14875' '40620' '23832'
 '40115' '65280' '21344' '71990' '83975' '56979' '41216' '1798' '26275'
 '54640' '44328' '52070' '17475' '11950' '76030' '1465' '42168' '86772'
 '40775' '68460' '32328' '67000' '14160' '18640' '27025' '67945' '18455'
 '74190' '59980' '7200' '16775' '20352' '10750' '41310' '4500' '77570'
 '41610' '86160' '78736' '2000' '43344' '65790' '47670' '88084' '49020'
 '5070' '26760' '3580' '12000' '53280' '51055' '9246' '4860' '93218'
 '26340' '36610' '79040' '2080' '33144' '83342' '82870' '18130' '61714'
 '28950' '53682' '50825' '31000' '30420' '18080' '86548' '100' '46410'
 '28640' '52490' '65340' '24000' '78600' '37940' '31240' '21480' '63624'
 '15640' '21000' '60120' '29744' '47138' '53000' '12700' '47042' '4000'
 '25560' '22560' '59735' '21990' '52320' '72824' '16920' '77000' '10375'
 '86025' '79820' '63418' '65370' '93170' '79492' '34450' '63000' '48500'
 '43220' '54310' '69274' '29428' '4750' '6500' '49675' '84077' '57870'
 '53850' '68260' '77840' '56060' '49840' '37175' '81035' '53680' '44856'
 '60825' '39225' '84192' '4695' '93955' '35075' '18000' '3078' '27815'
 '73760' '80270' '52584' '85350' '8950' '42090' '5616' '41224' '11315'
 '74630' '69420' '16749' '73070' '19780' '65760' '79000' '1960' '79800'
 '53380' '19180' '38077' '84528' '78932' '44832' '56130' '1220' '3050'
 '11200' '29443' '12280' '67610' '32800' '45900' '54870' '48244' '81677'
 '29405' '18256' '40189' '44968' '85312' '59105' '29333' '76106' '52980'
 '22300' '48020' '5595' '70320' '8430' '29400' '74000' '83680' '9000'
 '59020' '37070' '60785' '63360' '65392' '71390' '87056' '61225' '50250'
 '7000' '43440' '14140' '68000' '88000' '30140' '56375' '80990' '60000'
 '25230' '64000' '7720' '28240' '90672' '1420' '41440' '74118' '13456'
 '5910' '54270' '62900' '11272' '63264' '57302' '57386' '75816' '19700'
 '60545' '1185' '19620' '74300' '57260' '66175' '77200' '39625' '85036'
 '17440' '77630' '7180' '55574' '19390' '65508' '58350' '56460' '11000'
 '37720' '13150' '28680' '31125' '59925' '33408' '81048' '49890' '78800'
 '90741' '20230' '43740' '32310' '52480' '50784' '60330' '15060' '85188'
 '52140' '70880' '69584' '74608' '33620' '81168' '17800' '56456' '62148'
 '43554' '6088' '84512' '9175' '77152' '7580' '56270' '54875' '65255'
 '48340' '17940' '31470' '19775' '32640' '17720' '43335' '82590' '5560'
 '46925' '6260' '66200' '69390' '51575' '46365' '4615' '54716' '48090'
 '57510' '15000' '71620' '30210' '31010' '53368' '92036' '4300' '59608'
 '16000' '46820' '59190' '74480' '30455' '59000' '2100' '80740' '37772'
 '51760' '72632' '75815' '43100' '49300' '60900' '79460' '84250' '74944'
 '49960' '52350' '36300' '2568' '77344' '38800' '39765' '4930' '43140'
 '42990' '51810' '24925' '81325' '47880' '50000' '23584' '59250' '46896'
 '48000' '14712' '45560' '73725' '71892' '27600' '71682' '73895' '46225'
 '39510' '85300' '72928' '76070' '59640' '49784' '2480' '72215' '40890'
 '45460' '4792' '10464' '45096' '76025' '83500' '20290' '43895' '60915'
 '72420' '43082' '19840' '9280' '58800' '40290' '14200' '15384' '47535'
 '8085' '64675' '57600' '45000' '38288' '13208' '54688' '35000' '21105'
 '79056' '68940' '91085' '86925' '83622' '61680' '41690' '60015' '69940'
 '68388' '45810' '73405' '54705' '34952' '42510' '5140' '32910' '13045'
 '55955' '53224' '31540' '28770' '10025' '40040' '79002' '36510' '66570'
 '75672' '45990' '54485' '29553' '31645' '80780' '60750' '8760' '60500'
 '63150' '37380' '61000' '94597' '18500' '61800' '80510' '73020' '55000'
 '71430' '64080' '41664' '6064' '52560' '26675' '16425' '28826' '26150'
 '82120' '86370' '78510' '65732' '35624' '63768' '40675' '74104' '68430'
 '66145' '61120' '8980' '54360' '55750' '78776' '68645' '84475' '62535'
 '76778' '52200' '82105' '16250' '4920' '45690' '50580' '86968' '23000'
 '50640' '10000' '87070' '51025' '49600' '2184' '74540' '40580' '64980'
 '6607' '78865' '38424' '55216' '64620' '23850' '48620' '70' '30700'
 '41165' '22470' '72360' '54808' '19550' '58980' '33012' '23875' '32448'
 '76570' '37825' '76220' '57880' '77255' '46380' '30367' '21300' '75620'
 '47500' '51000' '52470' '2130' '31980' '72495' '80490' '2060' '34980'
 '77850' '48300' '46924' '25065' '69000' '5170' '62940' '29430' '28875'
 '31890' '49056' '79610' '25112' '48952' '29020' '39727' '32250' '73000'
 '15350' '7810' '25485' '26640' '78690' '34680' '49120' '7600' '40180'
 '53960' '28740' '47540' '13570' '76540' '43000' '54881' '68750' '87000'
 '78650' '39835' '73140' '25950' '77930' '5900' '53750' '80280' '6278'
 '72975' '27706' '88200' '71416' '38550' '49970' '2066' '12144' '8416'
 '3425' '62430' '44070' '18400' '86700' '50440' '61890' '55540' '14575'
 '76460' '19645' '47360' '8070' '83050' '50260' '10675' '64145' '39784'
 '40440' '22185' '29860' '26820' '93480' '51150' '75125' '68790' '3635'
 '45008' '84675' '55128' '80230' '25200' '64309' '69690' '75098' '75015'
 '67460' '18448' '25990' '58110' '76432' '73770' '24420' '8364' '18820'
 '58880' '38855' '41300' '10824' '14260' '59350' '25700' '55275' '34795'
 '56000' '43800' '52805' '64544' '19792' '10472' '12016' '78250' '35215'
 '42364' '47628' '57000' '82704' '7420' '78740' '49322' '84900' '46680'
 '48900' '68170' '7175' '10030' '83152' '64304' '25380' '92890' '52630'
 '51210' '41100' '50034' '18850' '53890' '38400' '60090' '29550' '84780'
 '26430' '22630' '19000' '17710' '61832' '86720' '32060' '66000' '69300'
 '61920' '5888' '2375' '83512' '3336' '70000' '14395' '38740' '34550'
 '40350' '64650' '24820' '22110' '55745' '3828' '49950' '74119' '59880'
 '13135' '55770' '2795' '36480' '12940' '5100' '17975' '49080' '62250'
 '25770' '76940' '21600' '5300' '18388' '33180' '51825' '18350' '30690'
 '86220' '16014' '59641' '49121' '76135' '1605' '4720' '61530' '69170'
 '35650' '73168' '48342' '70550' '11800' '80070' '72600']



Column :  3
<class 'pandas.core.series.Series'>
RangeIndex: 1994 entries, 0 to 1993
Series name: communityname
Non-Null Count  Dtype
--------------  -----
1994 non-null   object
dtypes: object(1)
memory usage: 15.7+ KB
communityname  :  None
Missing value :  0
['Lakewoodcity' 'Tukwilacity' 'Aberdeentown' ... 'Waterburytown'
 'Walthamcity' 'Ontariocity']



Column :  4
<class 'pandas.core.series.Series'>
RangeIndex: 1994 entries, 0 to 1993
Series name: fold
Non-Null Count  Dtype
--------------  -----
1994 non-null   int64
dtypes: int64(1)
memory usage: 15.7 KB
fold  :  None
Missing value :  0
[ 1  2  3  4  5  6  7  8  9 10]



Column :  5
<class 'pandas.core.series.Series'>
RangeIndex: 1994 entries, 0 to 1993
Series name: population
Non-Null Count  Dtype
--------------  -----
1994 non-null   float64
dtypes: float64(1)
memory usage: 15.7 KB
population  :  None
Missing value :  0
[0.19 0.   0.04 0.01 0.02 0.03 0.13 0.15 0.25 1.   0.11 0.06 0.29 0.09
 0.12 0.35 0.16 0.24 0.07 0.05 0.08 0.14 0.34 0.18 0.64 0.1  0.28 0.2
 0.62 0.31 0.67 0.81 0.41 0.17 0.99 0.58 0.43 0.27 0.73 0.6  0.52 0.47
 0.4  0.21 0.32 0.7  0.91 0.23 0.44 0.68 0.57 0.8  0.96 0.26 0.56 0.46
 0.69 0.78 0.55 0.22 0.3  0.36 0.74 0.45 0.51 0.42]



Column :  6
<class 'pandas.core.series.Series'>
RangeIndex: 1994 entries, 0 to 1993
Series name: householdsize
Non-Null Count  Dtype
--------------  -----
1994 non-null   float64
dtypes: float64(1)
memory usage: 15.7 KB
householdsize  :  None
Missing value :  0
[0.33 0.16 0.42 0.77 0.55 0.28 0.39 0.74 0.34 0.4  0.71 0.46 0.47 0.44
 0.36 0.31 0.53 0.41 0.54 0.43 0.96 0.49 0.37 0.27 0.5  0.3  0.56 0.52
 0.14 0.45 0.73 0.67 0.32 0.35 0.62 0.48 0.38 0.59 0.25 0.57 0.58 0.21
 0.65 0.04 0.63 0.6  0.26 0.51 0.24 0.66 0.61 0.64 0.07 0.68 0.78 0.29
 0.83 0.7  0.22 0.9  0.97 0.89 0.19 0.86 0.8  1.   0.72 0.23 0.69 0.79
 0.2  0.87 0.98 0.15 0.76 0.   0.18 0.84 0.12 0.1  0.17 0.99 0.94 0.93
 0.03 0.92 0.09 0.91 0.81 0.13 0.85 0.08 0.82]



Column :  7
<class 'pandas.core.series.Series'>
RangeIndex: 1994 entries, 0 to 1993
Series name: racepctblack
Non-Null Count  Dtype
--------------  -----
1994 non-null   float64
dtypes: float64(1)
memory usage: 15.7 KB
racepctblack  :  None
Missing value :  0
[0.02 0.12 0.49 1.   0.06 0.   0.03 0.2  0.15 0.08 0.01 0.4  0.05 0.47
 0.04 0.46 0.43 0.14 0.32 0.51 0.19 0.24 0.21 0.45 0.17 0.29 0.1  0.48
 0.25 0.07 0.23 0.82 0.22 0.27 0.33 0.38 0.68 0.09 0.39 0.28 0.11 0.98
 0.41 0.86 0.57 0.75 0.69 0.13 0.16 0.58 0.37 0.66 0.62 0.71 0.81 0.76
 0.7  0.35 0.89 0.67 0.44 0.83 0.18 0.34 0.78 0.61 0.3  0.59 0.36 0.31
 0.77 0.52 0.26 0.42 0.97 0.88 0.9  0.85 0.99 0.56 0.96 0.54 0.5  0.74
 0.92 0.53 0.91 0.79 0.8  0.65 0.84 0.55 0.6  0.72 0.87 0.73 0.95 0.63
 0.64 0.94]



Column :  8
<class 'pandas.core.series.Series'>
RangeIndex: 1994 entries, 0 to 1993
Series name: racePctWhite
Non-Null Count  Dtype
--------------  -----
1994 non-null   float64
dtypes: float64(1)
memory usage: 15.7 KB
racePctWhite  :  None
Missing value :  0
[0.9  0.74 0.56 0.08 0.95 0.54 0.98 0.46 0.84 0.87 0.07 0.91 0.96 0.85
 0.93 0.63 0.94 0.97 0.71 0.59 0.89 0.   0.99 0.64 0.7  0.58 0.6  0.69
 0.65 0.67 0.88 0.82 0.61 0.8  0.76 0.53 0.86 0.39 0.72 0.22 0.73 0.81
 1.   0.79 0.83 0.62 0.66 0.45 0.31 0.78 0.75 0.34 0.3  0.51 0.68 0.35
 0.16 0.18 0.21 0.52 0.19 0.33 0.38 0.77 0.43 0.29 0.5  0.92 0.42 0.28
 0.48 0.13 0.37 0.36 0.2  0.01 0.02 0.44 0.47 0.23 0.41 0.17 0.49 0.06
 0.55 0.09 0.4  0.32 0.11 0.15 0.12 0.27 0.57 0.25 0.1  0.05 0.26 0.14
 0.24]



Column :  9
<class 'pandas.core.series.Series'>
RangeIndex: 1994 entries, 0 to 1993
Series name: racePctAsian
Non-Null Count  Dtype
--------------  -----
1994 non-null   float64
dtypes: float64(1)
memory usage: 15.7 KB
racePctAsian  :  None
Missing value :  0
[0.12 0.45 0.17 0.09 1.   0.06 0.2  0.02 0.3  0.07 0.13 0.04 0.14 0.03
 0.01 0.48 0.16 0.08 0.21 0.44 0.1  0.61 0.19 0.64 0.15 0.32 0.11 0.53
 0.05 0.27 0.24 0.22 0.29 0.23 0.18 0.26 0.42 0.31 0.41 0.91 0.39 0.28
 0.34 0.51 0.43 0.58 0.68 0.36 0.47 0.7  0.4  0.72 0.62 0.75 0.25 0.83
 0.5  0.33 0.35 0.52 0.76 0.   0.37 0.92 0.84 0.6  0.57 0.38 0.94 0.74
 0.54 0.55 0.89 0.98 0.81 0.96 0.69 0.67 0.86 0.56 0.82 0.59 0.79 0.77
 0.66 0.85 0.49 0.46 0.93 0.87 0.73]



Column :  10
<class 'pandas.core.series.Series'>
RangeIndex: 1994 entries, 0 to 1993
Series name: racePctHisp
Non-Null Count  Dtype
--------------  -----
1994 non-null   float64
dtypes: float64(1)
memory usage: 15.7 KB
racePctHisp  :  None
Missing value :  0
[0.17 0.07 0.04 0.1  0.05 0.25 0.02 1.   0.   0.03 0.41 0.01 0.26 0.06
 0.3  0.11 0.09 0.43 0.34 0.58 0.22 0.13 0.72 0.48 0.23 0.21 0.64 0.15
 0.73 0.12 0.31 0.28 0.2  0.16 0.08 0.27 0.59 0.54 0.18 0.38 0.19 0.52
 0.93 0.32 0.45 0.99 0.53 0.75 0.24 0.74 0.35 0.39 0.47 0.44 0.29 0.67
 0.42 0.87 0.95 0.65 0.36 0.4  0.14 0.76 0.94 0.55 0.62 0.33 0.92 0.81
 0.6  0.69 0.37 0.5  0.63 0.46 0.78 0.49 0.56 0.71 0.7  0.96 0.85 0.68
 0.77 0.89 0.88 0.9  0.51 0.82 0.61]



Column :  11
<class 'pandas.core.series.Series'>
RangeIndex: 1994 entries, 0 to 1993
Series name: agePct12t21
Non-Null Count  Dtype
--------------  -----
1994 non-null   float64
dtypes: float64(1)
memory usage: 15.7 KB
agePct12t21  :  None
Missing value :  0
[0.34 0.26 0.39 0.51 0.38 0.31 0.3  0.52 0.9  0.4  0.29 0.35 0.32 0.58
 0.7  0.37 0.42 0.41 0.49 0.45 0.54 0.55 0.36 1.   0.48 0.18 0.43 0.72
 0.33 0.44 0.24 0.61 0.15 0.46 0.95 0.21 0.47 0.13 0.22 0.28 0.25 0.82
 0.5  0.2  0.62 0.68 0.23 0.6  0.84 0.17 0.27 0.53 0.56 0.97 0.59 0.19
 0.16 0.85 0.69 0.66 0.65 0.81 0.76 0.89 0.63 0.04 0.67 0.77 0.98 0.94
 0.73 0.64 0.71 0.74 0.14 0.92 0.88 0.   0.08 0.86 0.83 0.8  0.57 0.11
 0.07 0.87 0.75 0.78 0.79 0.1  0.06 0.03 0.12]



Column :  12
<class 'pandas.core.series.Series'>
RangeIndex: 1994 entries, 0 to 1993
Series name: agePct12t29
Non-Null Count  Dtype
--------------  -----
1994 non-null   float64
dtypes: float64(1)
memory usage: 15.7 KB
agePct12t29  :  None
Missing value :  0
[0.47 0.59 0.5  0.38 0.48 0.37 0.55 0.45 0.82 0.52 0.36 0.32 0.53 0.46
 0.41 0.72 0.39 0.67 0.56 0.58 0.63 0.33 0.4  1.   0.43 0.6  0.69 0.42
 0.79 0.44 0.54 0.49 0.57 0.83 0.26 0.31 0.25 0.23 0.34 0.62 0.29 0.35
 0.61 0.64 0.17 0.3  0.87 0.68 0.73 0.51 0.76 0.74 0.24 0.65 0.81 0.66
 0.78 0.7  0.09 0.94 0.85 0.93 0.27 0.99 0.18 0.86 0.77 0.22 0.2  0.92
 0.91 0.96 0.19 0.89 0.71 0.98 0.8  0.03 0.   0.75 0.88 0.15 0.28 0.84
 0.9  0.04 0.06 0.14 0.05]



Column :  13
<class 'pandas.core.series.Series'>
RangeIndex: 1994 entries, 0 to 1993
Series name: agePct16t24
Non-Null Count  Dtype
--------------  -----
1994 non-null   float64
dtypes: float64(1)
memory usage: 15.7 KB
agePct16t24  :  None
Missing value :  0
[0.29 0.35 0.28 0.34 0.23 0.27 0.36 0.8  0.22 0.2  0.32 0.3  0.65 0.63
 0.24 0.43 0.31 0.39 0.53 1.   0.5  0.26 0.41 0.73 0.25 0.42 0.38 0.49
 0.19 0.37 0.91 0.16 0.21 0.14 0.13 0.18 0.44 0.46 0.4  0.17 0.15 0.61
 0.33 0.11 0.45 0.54 0.48 0.51 0.62 0.72 0.69 0.85 0.57 0.79 0.64 0.83
 0.76 0.05 0.66 0.56 0.55 0.52 0.58 0.95 0.92 0.98 0.59 0.08 0.9  0.7
 0.1  0.12 0.89 0.86 0.07 0.99 0.94 0.81 0.47 0.68 0.01 0.71 0.   0.6
 0.09 0.74 0.82 0.75 0.88 0.77 0.03 0.04 0.67 0.96]



Column :  14
<class 'pandas.core.series.Series'>
RangeIndex: 1994 entries, 0 to 1993
Series name: agePct65up
Non-Null Count  Dtype
--------------  -----
1994 non-null   float64
dtypes: float64(1)
memory usage: 15.7 KB
agePct65up  :  None
Missing value :  0
[0.32 0.27 0.21 0.36 0.37 0.6  0.35 0.48 0.39 0.33 0.57 0.52 0.23 0.31
 0.58 0.47 0.55 0.46 0.34 0.59 0.74 0.25 0.42 0.14 0.2  0.56 0.87 0.04
 0.62 0.43 0.24 0.5  0.38 0.26 0.53 0.29 0.71 0.45 0.3  1.   0.19 0.65
 0.69 0.88 0.61 0.79 0.4  0.22 0.49 0.18 0.76 0.44 0.15 0.64 0.86 0.51
 0.28 0.41 0.67 0.84 0.81 0.09 0.68 0.66 0.13 0.02 0.54 0.17 0.1  0.63
 0.77 0.85 0.95 0.8  0.08 0.16 0.03 0.12 0.92 0.78 0.06 0.72 0.73 0.75
 0.7  0.99 0.83 0.11 0.82 0.05 0.   0.98 0.89 0.9  0.93 0.07 0.96 0.01]



Column :  15
<class 'pandas.core.series.Series'>
RangeIndex: 1994 entries, 0 to 1993
Series name: numbUrban
Non-Null Count  Dtype
--------------  -----
1994 non-null   float64
dtypes: float64(1)
memory usage: 15.7 KB
numbUrban  :  None
Missing value :  0
[0.2  0.02 0.   0.06 0.04 0.15 0.05 0.16 0.01 0.26 1.   0.13 0.08 0.31
 0.1  0.14 0.03 0.07 0.36 0.18 0.25 0.09 0.35 0.3  0.19 0.64 0.17 0.11
 0.12 0.29 0.22 0.21 0.63 0.32 0.68 0.82 0.42 0.99 0.58 0.44 0.28 0.74
 0.61 0.53 0.48 0.41 0.33 0.71 0.62 0.91 0.24 0.45 0.69 0.27 0.8  0.81
 0.96 0.57 0.59 0.46 0.79 0.56 0.23 0.37 0.97 0.52 0.43]



Column :  16
<class 'pandas.core.series.Series'>
RangeIndex: 1994 entries, 0 to 1993
Series name: pctUrban
Non-Null Count  Dtype
--------------  -----
1994 non-null   float64
dtypes: float64(1)
memory usage: 15.7 KB
pctUrban  :  None
Missing value :  0
[1.   0.   0.9  0.81 0.77 0.76 0.58 0.99 0.68 0.93 0.09 0.66 0.63 0.83
 0.74 0.96 0.5  0.85 0.97 0.91 0.86 0.69 0.84 0.75 0.8  0.94 0.64 0.61
 0.17 0.39 0.89 0.98 0.95 0.7  0.71 0.07 0.87 0.92 0.79 0.72 0.78 0.33
 0.05 0.47 0.65 0.6  0.28 0.52 0.88 0.73 0.34 0.32 0.23 0.44 0.59 0.08
 0.82 0.19 0.53 0.43 0.35 0.67 0.51 0.02]



Column :  17
<class 'pandas.core.series.Series'>
RangeIndex: 1994 entries, 0 to 1993
Series name: medIncome
Non-Null Count  Dtype
--------------  -----
1994 non-null   float64
dtypes: float64(1)
memory usage: 15.7 KB
medIncome  :  None
Missing value :  0
[0.37 0.31 0.3  0.58 0.5  0.52 0.42 0.16 0.17 0.54 0.49 0.72 0.8  0.46
 0.71 0.18 0.22 0.79 0.33 0.23 0.28 0.13 0.29 0.35 0.12 0.6  0.25 0.02
 0.2  0.19 0.32 0.56 0.78 0.47 0.24 0.38 0.4  0.34 0.43 0.92 0.74 0.91
 0.48 0.27 0.73 0.41 0.26 0.11 0.15 0.36 0.08 0.14 0.65 0.21 0.61 0.04
 0.64 1.   0.77 0.09 0.45 0.59 0.51 0.88 0.53 0.55 0.68 0.05 0.57 0.44
 0.39 0.81 0.1  0.86 0.7  0.69 0.75 0.07 0.62 0.87 0.85 0.63 0.94 0.96
 0.82 0.67 0.76 0.66 0.06 0.93 0.   0.9  0.84 0.83 0.89 0.98 0.99 0.97
 0.03]



Column :  18
<class 'pandas.core.series.Series'>
RangeIndex: 1994 entries, 0 to 1993
Series name: pctWWage
Non-Null Count  Dtype
--------------  -----
1994 non-null   float64
dtypes: float64(1)
memory usage: 15.7 KB
pctWWage  :  None
Missing value :  0
[0.72 0.58 0.89 0.68 0.5  0.44 0.47 0.59 0.71 0.53 0.55 0.77 0.67 0.42
 0.52 0.56 0.34 0.62 0.4  0.61 0.64 0.38 0.1  0.83 0.24 0.57 0.84 0.6
 0.09 0.98 0.46 0.74 0.73 0.28 0.45 0.66 0.75 0.49 0.35 0.7  0.08 0.51
 0.37 0.12 0.26 0.3  0.78 0.48 0.29 0.31 0.   0.79 0.32 0.76 0.54 0.11
 0.8  0.16 0.87 0.69 0.81 0.63 0.43 0.27 0.85 0.39 0.21 0.33 0.41 0.82
 0.97 0.86 0.65 0.02 0.36 0.25 0.93 0.91 0.23 0.2  0.18 0.17 0.13 0.22
 0.88 0.92 0.15 0.01 0.95 0.14 0.96 1.   0.04 0.19 0.05 0.9 ]



Column :  19
<class 'pandas.core.series.Series'>
RangeIndex: 1994 entries, 0 to 1993
Series name: pctWFarmSelf
Non-Null Count  Dtype
--------------  -----
1994 non-null   float64
dtypes: float64(1)
memory usage: 15.7 KB
pctWFarmSelf  :  None
Missing value :  0
[0.34 0.11 0.19 0.21 0.16 0.2  0.23 1.   0.36 0.22 0.18 0.41 0.42 0.81
 0.1  0.13 0.28 0.33 0.37 0.26 0.44 0.6  0.39 0.25 0.24 0.32 0.57 0.49
 0.88 0.31 0.52 0.27 0.05 0.07 0.3  0.   0.61 0.59 0.12 0.47 0.15 0.29
 0.9  0.17 0.08 0.35 0.09 0.06 0.64 0.54 0.66 0.38 0.14 0.55 0.75 0.56
 0.04 0.95 0.65 0.8  0.83 0.48 0.46 0.78 0.45 0.58 0.53 0.74 0.79 0.03
 0.77 0.43 0.87 0.68 0.4  0.62 0.93 0.69 0.63 0.01 0.76 0.82 0.73 0.72
 0.7  0.5  0.67 0.51 0.91 0.86 0.85 0.97 0.02 0.84 0.94 0.71 0.98 0.96
 0.92]



Column :  20
<class 'pandas.core.series.Series'>
RangeIndex: 1994 entries, 0 to 1993
Series name: pctWInvInc
Non-Null Count  Dtype
--------------  -----
1994 non-null   float64
dtypes: float64(1)
memory usage: 15.7 KB
pctWInvInc  :  None
Missing value :  0
[0.6  0.45 0.39 0.43 0.68 0.61 0.23 0.34 0.86 0.47 0.74 0.87 0.73 0.55
 0.49 0.51 0.77 0.62 0.37 0.36 0.42 0.14 0.57 0.63 0.41 0.44 0.72 0.46
 0.53 0.66 0.5  0.16 0.64 0.8  0.38 0.59 0.52 0.28 0.3  0.71 0.76 0.31
 0.75 0.32 0.88 0.56 0.65 0.79 0.54 0.4  0.29 0.48 0.78 0.18 0.69 0.35
 0.7  0.58 0.83 0.95 0.2  0.33 0.26 0.19 0.27 0.67 0.25 0.15 0.11 0.81
 0.24 0.08 0.85 0.21 0.84 0.92 0.82 0.22 0.91 0.12 0.17 0.13 0.94 0.07

In [19]:
index_of_col_with_missing_value = []

for index,col in enumerate(X.columns):
  if X[col].astype(str).str.contains("\?").any():
    print("Column name  : ",col)
    print("Column type  : ",type(X[col]))
    print("Column index : ",index)
    print("Number of missing value : ", np.sum(X[col] == "?"))
    index_of_col_with_missing_value.append(index)
    print("\n")

print("Total number of col with missing value : ",len(index_of_col_with_missing_value))
print(index_of_col_with_missing_value)

Column name  :  county
Column type  :  <class 'pandas.core.series.Series'>
Column index :  1
Number of missing value :  1174


Column name  :  community
Column type  :  <class 'pandas.core.series.Series'>
Column index :  2
Number of missing value :  1177


Column name  :  OtherPerCap
Column type  :  <class 'pandas.core.series.Series'>
Column index :  30
Number of missing value :  1


Column name  :  LemasSwornFT
Column type  :  <class 'pandas.core.series.Series'>
Column index :  101
Number of missing value :  1675


Column name  :  LemasSwFTPerPop
Column type  :  <class 'pandas.core.series.Series'>
Column index :  102
Number of missing value :  1675


Column name  :  LemasSwFTFieldOps
Column type  :  <class 'pandas.core.series.Series'>
Column index :  103
Number of missing value :  1675


Column name  :  LemasSwFTFieldPerPop
Column type  :  <class 'pandas.core.series.Series'>
Column index :  104
Number of missing value :  1675


Column name  :  LemasTotalReq
Column type  :  <class 'pandas.core.series.Series'>
Column index :  105
Number of missing value :  1675


Column name  :  LemasTotReqPerPop
Column type  :  <class 'pandas.core.series.Series'>
Column index :  106
Number of missing value :  1675


Column name  :  PolicReqPerOffic
Column type  :  <class 'pandas.core.series.Series'>
Column index :  107
Number of missing value :  1675


Column name  :  PolicPerPop
Column type  :  <class 'pandas.core.series.Series'>
Column index :  108
Number of missing value :  1675


Column name  :  RacialMatchCommPol
Column type  :  <class 'pandas.core.series.Series'>
Column index :  109
Number of missing value :  1675


Column name  :  PctPolicWhite
Column type  :  <class 'pandas.core.series.Series'>
Column index :  110
Number of missing value :  1675


Column name  :  PctPolicBlack
Column type  :  <class 'pandas.core.series.Series'>
Column index :  111
Number of missing value :  1675


Column name  :  PctPolicHisp
Column type  :  <class 'pandas.core.series.Series'>
Column index :  112
Number of missing value :  1675


Column name  :  PctPolicAsian
Column type  :  <class 'pandas.core.series.Series'>
Column index :  113
Number of missing value :  1675


Column name  :  PctPolicMinor
Column type  :  <class 'pandas.core.series.Series'>
Column index :  114
Number of missing value :  1675


Column name  :  OfficAssgnDrugUnits
Column type  :  <class 'pandas.core.series.Series'>
Column index :  115
Number of missing value :  1675


Column name  :  NumKindsDrugsSeiz
Column type  :  <class 'pandas.core.series.Series'>
Column index :  116
Number of missing value :  1675


Column name  :  PolicAveOTWorked
Column type  :  <class 'pandas.core.series.Series'>
Column index :  117
Number of missing value :  1675


Column name  :  PolicCars
Column type  :  <class 'pandas.core.series.Series'>
Column index :  121
Number of missing value :  1675


Column name  :  PolicOperBudg
Column type  :  <class 'pandas.core.series.Series'>
Column index :  122
Number of missing value :  1675


Column name  :  LemasPctPolicOnPatr
Column type  :  <class 'pandas.core.series.Series'>
Column index :  123
Number of missing value :  1675


Column name  :  LemasGangUnitDeploy
Column type  :  <class 'pandas.core.series.Series'>
Column index :  124
Number of missing value :  1675


Column name  :  PolicBudgPerPop
Column type  :  <class 'pandas.core.series.Series'>
Column index :  126
Number of missing value :  1675


Total number of col with missing value :  25
[1, 2, 30, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 121, 122, 123, 124, 126]

In [20]:
#Convert data into dataframe
feature = pd.DataFrame(X,columns = communities_and_crime.data.features_name)
target = pd.DataFrame(X,columns = communities_and_crime.data.targets_name)

In [21]:
#Drop col with missing value
col_to_drop = []
col_to_remain = []

for index in index_of_col_with_missing_value:
  col = feature.columns[index]
  if np.sum(feature[col]=="?") > 1000:
    col_to_drop.append(col)
  else:
    col_to_remain.append(col)

print("Column's names to drop   : ", col_to_drop)
print("Column's names to remain : ", col_to_remain)

#Drop the columns
feature.drop(columns = col_to_drop ,axis = 1,inplace = True)

#Replace the "?" value with median value
feature[col_to_remain] = feature[col_to_remain].replace("?",np.nan).astype(float)
feature.loc[:, col_to_remain] = feature[col_to_remain].fillna(feature[col_to_remain].median())

check_null = feature.isnull().sum() > 0
columns_with_null = check_null[check_null].index.tolist()
print("Columns with missing value : ",columns_with_null)

Column's names to drop   :  ['county', 'community', 'LemasSwornFT', 'LemasSwFTPerPop', 'LemasSwFTFieldOps', 'LemasSwFTFieldPerPop', 'LemasTotalReq', 'LemasTotReqPerPop', 'PolicReqPerOffic', 'PolicPerPop', 'RacialMatchCommPol', 'PctPolicWhite', 'PctPolicBlack', 'PctPolicHisp', 'PctPolicAsian', 'PctPolicMinor', 'OfficAssgnDrugUnits', 'NumKindsDrugsSeiz', 'PolicAveOTWorked', 'PolicCars', 'PolicOperBudg', 'LemasPctPolicOnPatr', 'LemasGangUnitDeploy', 'PolicBudgPerPop']
Column's names to remain :  ['OtherPerCap']
Columns with missing value :  []

In [56]:
feature = feature.apply(pd.to_numeric,errors='ignore')


#Check Column with 'Object' Data Type
col_with_obj_datatype = []
for index,col in enumerate(feature.columns):
  if str(feature[col].dtype) == 'object':
    print("Column name  : ",col)
    print("Column index : ",index)
    col_with_obj_datatype.append(col)
    print("\n")

feature.drop(columns = col_with_obj_datatype,inplace = True)

Column name  :  communityname
Column index :  1

In [57]:
#Split the data into train,test and validaton set
from sklearn.model_selection import train_test_split

test_size = 0.3

X_train,X_temp,y_train,y_temp = train_test_split(X,y,test_size = test_size,random_state = 42)
X_test,X_val,y_test,y_val = train_test_split(X_temp,y_temp,test_size = 0.5,random_state = 42)

print("Training data shape:", X_train.shape, y_train.shape)
print("Testing data shape:", X_test.shape, y_test.shape)
print("Validation data shape:", X_val.shape, y_val.shape)

Training data shape: (1395, 127) (1395, 1)
Testing data shape: (299, 127) (299, 1)
Validation data shape: (300, 127) (300, 1)

In [22]:
#Feature Selection - GA Algorithm

In [23]:
#Normalization (maybe)

In [24]:
#Rules Selection

In [25]:
#Build model

In [26]:
#Test and refine model